@media print {
    * {
        background: white !important;
        color:#2e3338 !important;
    }
    .noprint{
        display: none !important;
        height: 0 !important;
    }

    .editor{
        overflow-y: hidden!important;
        height: fit-content;
    }
    /*.sidebar{*/
    /*    margin-left: -20000px;*/
    /*}*/
}
